name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo +nightly build -Z build-std=std,panic_abort -Z build-std-features=panic_immediate_abort --target x86_64-pc-windows-msvc --release --verbose
    - name: UPX
      uses: crazy-max/ghaction-upx@v1.4.0
      with:
        args: --best --lzma
        file: target/x86_64-pc-windows-msvc/release/rdb-client.exe
    - name: Upload
      uses: actions/upload-artifact@v3.0.0
      with:
        path: target/x86_64-pc-windows-msvc/release/rdb-client.exe
